body {
    background-color: #f4f7f6; 
    font-family: Arial, sans-serif; 
    text-align: center; 
}

.container {
    margin-top: 50px;
}

.big-btn {
    display: block; 
    width: 300px;
    margin: 20px auto;
    padding: 25px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    background-color: #4CAF50; 
    border-radius: 15px;
    box-shadow: 8px 8px 5px #888888; 
}

.big-btn.secondary {
    background-color: #2196F3;
}

.main-img {
    border: 5px solid #fff; 
    margin-top: 20px;
}

fieldset {
    border: 2px solid #4CAF50; 
    background: white;
}
body {
    background-image: url('img11.png'); 
    
    background-size: cover; 
    
    background-attachment: fixed; 
    
    background-position: center; 
    
    background-repeat: no-repeat; 
    
    font-family: Arial, sans-serif;
    color: #333;
}

.container {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 30px;
    border-radius: 20px;
    display: inline-block;
    margin-top: 50px;
}